<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pinterest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LayoutTrangchu1Activity"></activity>
        <activity android:name="SignInSignUp.LayoutQuenmatkhauActivity" />
        <activity android:name="SignInSignUp.LoginLayout1Activity" />
        <activity android:name=".LayoutTrangchuActivity" />
        <activity android:name="SignInSignUp.SignupLayout6Activity" />
        <activity android:name="SignInSignUp.SignupLayout5Activity" />
        <activity android:name="SignInSignUp.SignupLayout4Activity" />
        <activity android:name="SignInSignUp.SignupLayout3Activity" />
        <activity android:name="SignInSignUp.SignupLayout2Activity" />
        <activity android:name="SignInSignUp.SignupLayout1Activity" />
        <activity android:name="SignInSignUp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>